@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_link {
    text-decoration: none;
    position: relative;
}

.nav_link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #002547;  
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.nav_link:hover::after
{
    visibility: visible;
    transform: scaleX(1);
}

.profile_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    padding: 12px;
    margin: 10px 0;
    color: #262261;
    background-color: #f0f2f6;
    border: 2px solid #262261;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.profile_button:hover , .profile_button:active {
    color: #fff;
    background-color: #1f1b6e;
    border-color: #1f1b6e;
}

.heart {
    /* color: #fff; */
    border: 2px solid rgb(212, 27, 27);
    color: rgb(212, 27, 27);

}